# Prerequisites
*.d
out
# Compiled Object files
*.slo
*.lo
*.o
*.obj
compile_commands.json

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build
.cache
.vs
outBuild
cout
out
.DS_Store
.idea
CMakeLists.txt.user
cmake-build-debug
cmake-build-release
qtbuild
